---
import ProjectsTable from "../components/ProjectsTable.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import ArrowLink from "../components/ArrowLink.astro"
---

<BaseLayout title="Projects">
    <header class="mb-12 lg:py-16">
        <ArrowLink href={import.meta.env.BASE_URL} direction="left" class="text-2xl">
            Home
        </ArrowLink>
        <h1 class="text-teal-400 text-5xl">Projects</h1>
    </header>
    <main>
        <section>
            <ProjectsTable/>
        </section>
    </main>
</BaseLayout>
