---
import SectionHeader from "./SectionHeader.astro"
---

<section class="mb-16">
    <SectionHeader id="about" title="Om Mig" />
    <p class="text-gray-400 mb-3">
        Jeg er en 22-årig fra Kolding med en passion for både gaming og fiskeri. Min fritid bruger jeg ofte på at spille forskellige spil eller nyde den danske natur ved kysterne og åerne med en fiskestang i hånden.
    </p>
    <p class="text-zinc-400 mb-3" >
        Min interesse for fiskeri er ikke kun begrænset til min fritid. Jeg har haft fornøjelsen af at arbejde i en jagt- og fiskeributik i 3 år, hvor jeg har fået mulighed for at kombinere min passion med mit arbejde. Denne erfaring har givet mig en dyb forståelse
        for branchen samt en værdsættelse for kundeservice og detailhandel.
    </p>
    <p class="text-gray-400 mb-3">Jeg er altid ivrig efter at lære og udvikle mig både personligt og professionelt.</p>
</section>
