---
import Image from "astro/components/Image.astro";
import Portrait from "../assets/ImageMissing.jpeg"


---
<div>
  <Image src={Portrait} alt="portrait" class="rounded-full w-20 h-20" />
  <h1 class="text-5xl font-extrabold pb-2">Jonas Beck</h1>
  <h2 class="text-2xl">Full-stack Udvikler</h2>
</div>
