---
import { Image } from "astro:assets";
import Portrait from "../assets/Portrait.jpeg"


---
<div>
  <Image src={Portrait} alt="portrait" class="rounded-full w-28 h-28" loading={"eager"} decoding={"sync"} width={500} height={500} />
  <h1 class="text-5xl text-teal-400 font-extrabold pb-2">Jonas Beck</h1>
  <h2 class="text-2xl">Full-stack Udvikler</h2>
</div>
