---


---
<nav class="flex flex-col mt-16 navbar">
    <a class="hover:text-2xl transition-all" href="#about">Home</a>
    <a class="hover:text-2xl transition-all"  href="#timeline">Arbejde og Uddandelse</a>
    <a class="hover:text-2xl transition-all" href="#projects">Projekter</a>
</nav>

<script src="../ts/NavigationHighlight.ts"></script>