---
import SectionHeader from "./SectionHeader.astro"
import SkillItem from "./SkillItem.astro"
import { type CollectionEntry, getCollection } from "astro:content"

// Get array of experience objects from content/experience/ .yaml files
const skills: CollectionEntry<"skills">[] = await getCollection("skills")
---

<section class="mb-16">
    <SectionHeader title="Faglige Kompetencer" id="skills" />
    <p class="text-gray-400 mb-3">
        Jeg har en bred vifte af tekniske færdigheder og erfaringer, der spænder over flere programmeringssprog og teknologier.
    </p>
    <ul class="flex flex-col gap-3 text-gray-400">
        {skills.map((skill) => <SkillItem skill={skill}/>)}
    </ul>
</section>
