---
import { type CollectionEntry, getCollection } from "astro:content";
import ExternalLink from "./ExternalLink.astro";

// Get array of experience objects from content/experience/ .yaml files
const socialEntries : CollectionEntry<"socials">[] = await getCollection("socials");

---
<div class="mt-8 flex flex-col">
  {socialEntries
    // Map all entries and return a externalLink for each item
    .map((entry) => (
    <ExternalLink href={entry.data.link} iconName={entry.data.icon}>
      {entry.data.name}
    </ExternalLink>
  ))}
</div>
