---

interface Props {
  name: string
}

const { name } = Astro.props

---

<div class="text-teal-400 border focus:outline-none focus:ring-4 font-medium rounded-full text-xs px-3 py-2 me-2 mb-2 border-zinc-700 hover:bg-zinc-800 hover:border-teal-400 focus:ring-gray-700 transition ">
  {name}
</div>
