---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import TimelineItem from "./TimelineItem.astro"
import SectionHeader from "./SectionHeader.astro"

// Get array of experience objects from content/experience/ .yaml files
const experienceEntries: CollectionEntry<"experience">[] = await getCollection("experience")
---

<section  class="">
    <!-- Header with title -->
    <SectionHeader id="timeline"  title="Arbejde og Uddandelse" />
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        {
            experienceEntries
                .slice() // Create shallow copy to avoid modifying original array
                // Sort all entries based on startDate in descending order
                .sort((a, b) => {
                    return b.data.startDate.getTime() - a.data.startDate.getTime()
                })
                // Map all entries and return a TimeLineItem for each item
                .map((experience) => <TimelineItem experience={experience} />)
        }
    </ol>
</section>
