---
import BaseLayout from "../layouts/BaseLayout.astro"
import ArrowLink from "../components/ArrowLink.astro"

interface Props {
    title: string
    linkHref: string
    linkText: string
}

const { title, linkHref, linkText } = Astro.props
---

<BaseLayout title={title}>
    <header class="mb-12 lg:pt-16 flex flex-col items-start">
        <ArrowLink href={linkHref} direction="left" class="text-2xl">{linkText}</ArrowLink>
        <h1 class="text-teal-400 text-5xl">{title}</h1>
    </header>
    <main>
        <slot />
    </main>
</BaseLayout>
